html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body { background-color: #3ad;}

nav {
  position: sticky;
  top: 0;
  overflow: hidden;
  width: 100%;
  background-color: #19388a;
}

nav a {
  display: block;
  float: right;
  width: 60px;
  padding: 10px 14px;
  transition: 0.3s;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
}

nav a:hover { background-color: #0c5fb0; }

.row {
  min-height: 100%;
  display: flex;
  justify-content: space-around;
}

.sidebar-sec { width: 25%; }

.article-sec { width: 60%; }

@media screen and (max-width: 700px) {
  .sidebar-sec { display: none; }
  .article-sec { width: 80%; }
}

.sidebar {
  margin: 50px 0;
  padding: 20px;
  border-radius: 20px;
  background-color: #135;
  color: #eee;
  transition: 0.3s;
  box-shadow: 0 5px 10px 0 #0006;
  font-family: "SimHei";
  text-align: center;
}

.avatar {
  margin: 50px auto;
  display: block;
  border: 3px solid #258;
  border-radius: 50%;
}

.article {
  margin: 50px 0;
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 0 5px 10px 0 #0006;
}

.article:hover { box-shadow: 0 10px 20px 0 #0006; }

.article a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.article h2 {
  margin: 0;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  background-color: #0847a0;
  color: #fff;
}

.article p {
  margin: 0;
  padding: 20px;
  overflow: hidden;
  border-radius: 0 0 20px 20px;
  background-color: #16b;
  color: #ccc;
  text-indent: 2em;
}

footer {
  padding: 20px 0;
  background-color: #19388a;
  color: #fff;
  text-align: center;
}