body,h1,ul{
  margin: 0;
  padding: 0;
}

nav{
  background-color: #00ccff;
  width: 100%;
  height: 80px;
}

.navbar{
  width: 100%;
  height: 80px;
  line-height: 80px;
  float: right;
}

footer{
  background-color: #00ccff;
  width: 100%;
  height: 100px;
  position: relative;
  margin-top: -100px;
  clear: both;
}