<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | append: " | FlyCloudC Blog" }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/index.css" | prepend: site.baseurl }}">
  </head>
  <body>
    
    <nav>
      <ul class:"navbar">
      {% for page in site.pages %}{% if page.nav %}
        <li>
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </li>
      {% endif %}{% endfor %}
      </ul>
    </nav>
    
    <section>
      {{ content }}
    </section>
    
    <footer>
      Copyright &copy FLYCÆ®ÔÆ 2020
    </footer>
    
  </body>
</html>