<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | append: " | FlyCloudC Blog" }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/index.css" | prepend: site.baseurl }}">
    {% if page.date %}
    <link rel="stylesheet" href="{{ "/assets/css/post.css" | prepend: site.baseurl }}">
    {% endif %}
    {% if page.css %}
    <link rel="stylesheet" href="{{ "/assets/css/" | prepend: site.baseurl }}{{ page.css }}.css">
    {% endif %}
  </head>
  <body>
    <nav>
      {% for page in site.pages %}{% if page.nav %}
      <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}{% endfor %}
    </nav>
    <div class="row">
      <section class="sidebar-sec">
        <div class="sidebar">
          <img class="avatar" width="100px" height="100px" src="https://graph.baidu.com/thumb/343366187,1313656684.jpg">
          <p>
            一个普通又平凡的OIer</br>
            偶尔刷刷算法题</br>
            或者看一些杂七杂八的东西
          </p>
        </div>  
      </section>
      <section class="main-sec">
        {{ content }}
      </section>
    </div>
    <footer>
      Copyright &copy FLYC飘云 2020
    </footer>
  </body>
</html>
